:root{
    --primary-color : ;
    --secondary-color: bg-indigo-600;
    --btn : px-4 py-2 mt-2 text-sm font-semibold bg-gray-100 text-red-500 rounded-lg   md:mt-0 md:ml-4 
    hover:text-red-600
    focus:text-gray-900 hover:bg-gray-200  hover:shadow-outline
    focus:bg-gray-200 focus:outline-none;
}

/* ############# slider of header  ############# */
.mySlides{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12rem 6rem;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.sectionPadding{
    padding: 0 10rem;
}

@media (max-width : 950px) {
    .mySlides{
        padding: 8rem 2rem;
    }
}