<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header KaK</title>
  <link rel="stylesheet" href="../../../css/AllUsers.css">
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
  <header>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <div class="">
      <div class="antialiased bg-red-600">
        <div class="w-full text-gray-200 bg-red-400 ">
          <div x-data="{ open: true }"
            class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
            <div class="flex flex-row items-center justify-between p-4">
              <a href="/"
              class="text-lg font-semibold tracking-widest text-gray-900
              uppercase rounded-lg dark-mode:text-white focus:outline-none
              focus:shadow-outline">
                <img src="images/logo-white.png" alt="Logo Kak glycémie">
                UI</a>
              <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" @click="open = !open">
                <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                  <path x-show="!open" fill-rule="evenodd"
                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                    clip-rule="evenodd"></path>
                  <path x-show="open" fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg>
              </button>
            </div>
            <nav :class="{'flex': open, 'hidden': !open}"
              class="flex-col flex-grow hidden pb-4 md:pb-0 md:flex md:justify-end md:flex-row">
              <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg  hover:bg-gray-200  md:mt-0 md:ml-4 hover:text-red-500 focus:text-red-400 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                href="#">Patients</a>
              <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg  hover:bg-gray-200  md:mt-0 md:ml-4 hover:text-red-500 focus:text-red-400 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                href="#">Médecins</a>
              <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg  hover:bg-gray-200  md:mt-0 md:ml-4 hover:text-red-500 focus:text-red-400 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                href="#">A propos de nous</a>
             
              <a class="px-4 py-2 mt-2 text-sm font-semibold bg-gray-100
                      text-red-500 rounded-lg   md:mt-0 md:ml-4 
                      hover:text-red-600
                      focus:text-gray-900 hover:bg-gray-200  hover:shadow-outline
                      focus:bg-gray-200 focus:outline-none " 
                href="#">Connexion</a>
                
             
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    
    <section id="bgSection" class="bg-center bg-no-repeat bg-[url('./bg2.jpg')] bg-gray-700 bg-blend-multiply">
      <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
          
          <div id="messageFirst" class="flex flex-col hidden mySlides ">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none
            text-white md:text-5xl lg:text-6xl">Message 1 in the world’s
            potential</h1>
            <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
            
            <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
              <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                  Get started
                  <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </a>
              <a href="#" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                  Learn more
              </a>  
            </div>
          </div>

          <div id="messageSecond" class="hidden flex flex-col mySlides">
              <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none
              text-white md:text-5xl lg:text-6xl">Message 22 in the world’s
              potential</h1>
              <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
              <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
                <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    Get started
                    <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
                <a href="#" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                    Learn more
                </a>  
            </div>
          </div>

      </div>

    </section>

    <script>
      let slideIndex = 0;
      showSlides();

      function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let bgSection = document.getElementById("bgSection");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
          bgSection.style.background = url('./bg2.jpg');
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "block";
        bgSection.style.backgroundImage = url('./bg2.jpg');

        setTimeout(showSlides, 2000); // Change image every 2 seconds
      } 

      

    </script>

    

  </main>
</body>

</html>